body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

#main{
    width: 100%;   
}
.phone-block{
    width: 100%;
    background-size: cover;
    background-position: center;
    background: url(/img/bg.jpg);
    position: fixed;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
 }
 

.chehol{
    width: 250px;
    height: auto;
    z-index: 2;
    margin: 0 auto;
    transition: all 1.5s ease;
}


.chehol img{
    object-fit: cover;
    width: 250px;
    height: 100%;
    margin: 0 auto;
}
.options{
    margin-top: 550px;
    padding: 16px;
    height: 800px;
}

.options h3{
    font-size: 20px;
    text-align: center;
}
.options p{
    text-align: center;
    font-size: 17px;
}

.towns{
    display: flex;
    margin: 24px 0;
    flex-wrap: wrap;
}

.town-item{
    display: flex;
    margin: 5px;
    align-items: center;
    background: #C2CCCE;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.town-item img{
    margin-right: 5px;
}

form{
    margin-top: 24px;
}

.input{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.input:focus{
    outline: none;
}


.btn-submit{
    width: 100%;
    background: #F1BE3B;
    border-radius: 50px;    
    border: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;       
}



@media (min-width: 768px) {
    .input{
        width: 400px;
        margin: 0 auto 10px;
        display: block;  
    }

    .btn-submit{
        width: 300px;
        margin: 24px auto;
        display: block; 
    }

    .towns{
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 990px) {
    #main{
        display: flex;
    }

    .phone-block{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background-size: cover;
    }

    .options{
        width: 100%;
        margin-top: 0;
        height: 100%;
    }

    .chehol{
        width: 300px;
    }

    .chehol img{
        object-fit: cover;
        width: 300px;
        height: 100%;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 1200px) {
    .options{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chehol{
        width: 400px;
    }

    .chehol img{
        object-fit: cover;
        width: 400px;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

}

 
